#video{
    width: 100%;
    height: 800px;
    border: none;
 
}

#contact{
    width: 100%;
    text-align: center;
    height: 900px;

}

#achievements{
width: 100%;
height: 500px;
padding-bottom:500px;
}

#Whatsnew{
    width: 100%;
    height: 500px;
    text-align: center;
    text-size-adjust: 100px;
}